# Finetune SAM (Segment Anything) with our car data

In [2]:
from pathlib import Path
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cv2

Extract the bounding box coordinates which will be used to feed into SAM as prompts

In [ ]:
bbox_coords = {}
for f in sorted(Path('../data/ground-truth-maps/ground-truth-maps/').iterdir())[:100]:
  k = f.stem[:-3]
  if k not in stamps_to_exclude:
    im = cv2.imread(f.as_posix())
    gray=cv2.cvtColor(im,cv2.COLOR_BGR2GRAY)
    contours, hierarchy = cv2.findContours(gray,cv2.RETR_LIST,cv2.CHAIN_APPROX_SIMPLE)[-2:]
    if len(contours) > 1:
      x,y,w,h = cv2.boundingRect(contours[0])
      height, width, _ = im.shape
      bbox_coords[k] = np.array([x, y, x + w, y + h])

In [6]:
bbox_coords = {}
anno_train = pd.read_csv('../data/anno_train.csv', header=None)
anno_train

              0    1    2     3     4    5
0     00001.jpg   39  116   569   375   14
1     00002.jpg   36  116   868   587    3
2     00003.jpg   85  109   601   381   91
3     00004.jpg  621  393  1484  1096  134
4     00005.jpg   14   36   133    99  106
...         ...  ...  ...   ...   ...  ...
8139  08140.jpg    3   44   423   336   78
8140  08141.jpg  138  150   706   523  196
8141  08142.jpg   26  246   660   449  163
8142  08143.jpg   78  526  1489   908  112
8143  08144.jpg   20  240   862   677   17

[8144 rows x 6 columns]